<html>
    <head>
        <link rel="stylesheet" href="css/style.css">

        <script src="https://unpkg.com/vue"></script>
        <script src="src/main.js"></script>
    </head>
    <body>
        <nav id="nav">
			<div class="padding">
				Posts
			</div>

			<div v-for="item in items" class="link">
				<a v-bind:href="item.href">
					{{item.text}}
				</a>
			</div>
		</nav>
		<content id="content">
			{{body}}
			<span v-if="contentsEmpty">
				Click a post on the left.
			</span>
		</content>
    </body>
</html>