<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">

        <script src="https://unpkg.com/vue"></script>
        <script src="/src/main.js"></script>
    </head>
    <body>
        <nav id="nav">
			<div class="padding">
				Posts
				<a href="/about.html">(about)</a>
			</div>

			<div v-for="item in items" class="link">

				<a v-bind:text="item.text" 
					v-on:click="navigate" 
					v-if="!loading"
					v-bind:class="{selected: (selected == item.text)}">
					{{item.text}}
				</a>

				<span v-if="loading">
					{{item.text}}
				</span>
			</div>
		</nav>
		<content id="content">
			<div v-html="body" id="current"></div>
			
			<span v-if="contentsEmpty">
				Click a post on the left.
			</span>
			<div class="bottomPadding"></div>
		</content>
    </body>
</html>