html
{
    overflow: hidden;
}

body
{
	overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
	font-size: 10pt;
	font-family: 'Helvetica', sans-serif;
	font-size: 12pt;
	background-color: #f9f9f9;
	color: #050505;
}

nav
{
	display: flex;
	flex-flow: column;
	float: left;
	width: 400px;
	height: 100%;

	overflow-y: scroll;
}

nav div.link
{
	height: 30px;
	padding-left: 15px;
}

nav a
{
	color: #247988;
	font-size: 12pt;
	text-decoration: none;
	cursor: pointer;
}

nav a.selected
{
	color: #111111;
	cursor: unset;
}

nav span
{
	color: #999999;
	font-size: 12pt;
}

nav div.padding
{
	width: 100%;
	height: 75px;
	margin-bottom: 15px;
	
	font-style: bold;
	font-size: 18pt;
	text-align: center;
	padding-top: 20px;
}

nav div.padding a
{
	display: block;
	font-size: 8pt;
	text-align: center;
}

content
{	
	display: flex;
	flex-flow: column;
	height: 100%;
	position: relative;
	overflow-y: scroll;

	padding-left: 100px;
	
	padding-top: 50px;
	line-height: 25px;
}

content div#current
{
	max-width: 800px;
}

content div.bottomPadding
{
	min-height: 300px;
}

/*
	Triple-tick
*/
pre
{
	font-family: monospace;
	font-size: 10pt;
	
	background-color: rgba(29, 29, 29, 0.04);
	border-radius: 3px;
	border: 1px solid rgba(29, 29, 29, 0.14);

	margin-left: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 700px;
	overflow-x: scroll
}

/*
	single-tick (also within triple tick)
*/
code
{
	font-family: monospace;
	font-size: 10pt;

	background-color: rgba(29, 29, 29, 0.04);
	border-radius: 3px;
	border: 1px solid rgba(29, 29, 29, 0.14);
	margin-left: 2px;
	margin-right: 2px;
	color: #e01e5a;
	padding: 4px;
}

pre code
{
	color: #050505;
	background-color: unset;
	border: none;
	margin: 0;
}

/*
	====
*/
h1
{
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(29, 29, 29, 0.06);
	text-align: center;

	font-family: 'Futura', 'Helvetica', sans-serif;
	font-size: 40pt;
}

h2
{
	font-family: 'Futura', 'Helvetica', sans-serif;
	font-size: 28pt;
}

h3
{
	font-family: 'Futura', 'Helvetica', sans-serif;
	font-size: 24pt;
}

h4
{
	font-family: 'Futura', 'Helvetica', sans-serif;
	font-size: 18pt;
}